:root
{
    /* Brand Colors */
    --ColorPrimary:#000;
    --ColorSecondary:blue;
    --ColorAccent:#c6ff70;

    /* Typography */
    --ColorForeground1:#ffffff;
    --ColorForeground2:#777777;
    --ColorDescription:#d3d3d3;
    --TitleSize:2.2rem;
    --DescriptionSize:3rem;
    --TextAlign:right;

    /*--- Goal Frame Settings ---*/
    --GoalFrameRoundness:50px;
    --GoalFrameWidth:800px;
    --GoalFrameHeight:600px;
    --GoalFramePadding:2rem 4rem 2rem;
    --GoalBackgroundColor:#4b4b4b; /*its just for test RN*/

    /*--- UI Settings ---*/
    /* Border Radius */
    --ui_round_container4:250px;

    /* Color */
    --ui_bg_container4:hsl(84, 35%,35%);


}